/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	#home-heading h3{
		color: #999;
	}
 }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
		#home-heading h3{
		color: red;
	}
 }


 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){ 

#home-heading h3{
		color: yellow;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px){ 
		#home-heading h3{
		color:#ccc;
	}
 }